# EJERCICIO 1: Proceso Análisis Exploratorio
Ejercicio para practicar la introducción al EDA (Exploratory Data Analysis).

# Objetivo: EDA TITANIC
Uno de los datasets más famosos para aprender ciencia de datos es el del Titanic. Contiene un resgistro real de las personas que embarcaron en el mismo, con variables como sexo, edad, tipo de billete... y la más truculenta de todas: si esa persona falleció o no.

En este ejercicio estudiaremos haremos un análisis exploratorio de este Dataset.

# 01 Import
Importamos pandas y numpy.

In [ ]:
import pandas as pd
import numpy as np

# 02 Load Data
Como ya hemos comentado, Kaggle es uno de los lugares de referencia para estudiar ciencia de datos. Entra en Kaggle, busca el dataset del Titanic y cárgalo este Notebook como tu prefieras.

(Probablemente encuentres dos: train y test, por ahora podemos quedarnos con el train). Cárgalo a un dataframe con el nombre 'df'.

In [ ]:
dir_archivo = "/content/titanic.csv"
df_titanic = pd.read_csv(dir_archivo)
df_titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# 03 Basic checks
Una vez se han importado los datos, haz las comprobaciones básicas pertinentes para conocer el tamaño de la tabla, columnas presentes, visualizar algunos datos, conocer el tipo de dato de cada variable, etc.

In [ ]:
#Conocer el tipo de dato de cada variable, tamaño de la tabla
df_titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
df_titanic.iloc[1:200, 3:6]

                                                  Name     Sex   Age
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
2                               Heikkinen, Miss. Laina  female  26.0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
4                             Allen, Mr. William Henry    male  35.0
5                                     Moran, Mr. James    male   NaN
..                                                 ...     ...   ...
195                               Lurette, Miss. Elise  female  58.0
196                                Mernagh, Mr. Robert    male   NaN
197                   Olsen, Mr. Karl Siegwart Andreas    male  42.0
198                   Madigan, Miss. Margaret "Maggie"  female   NaN
199             Yrois, Miss. Henriette ("Mrs Harbeck")  female  24.0

[199 rows x 3 columns]

In [ ]:
df_titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
type(df_titanic)

pandas.core.frame.DataFrame

In [ ]:
df_titanic.loc[0:5, ["Age", "Name", "Sex"]]

    Age                                               Name     Sex
0  22.0                            Braund, Mr. Owen Harris    male
1  38.0  Cumings, Mrs. John Bradley (Florence Briggs Th...  female
2  26.0                             Heikkinen, Miss. Laina  female
3  35.0       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female
4  35.0                           Allen, Mr. William Henry    male
5   NaN                                   Moran, Mr. James    male

## 0301 Vista previa
Visualiza, fijándote en cada variable:


1.   Las 5 primeras filas
2.   Las 3 últimas filas
3.   Las filas 300 a 305

In [ ]:
df_titanic.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df_titanic.tail(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [ ]:
df_titanic.iloc[300:305, :]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
300,301,1,3,"Kelly, Miss. Anna Katherine ""Annie Kate""",female,NaN,0,0,9234,7.75,NaN,Q
301,302,1,3,"McCoy, Mr. Bernard",male,NaN,2,0,367226,23.25,NaN,Q
302,303,0,3,"Johnson, Mr. William Cahoone Jr",male,19.0,0,0,LINE,0.00,NaN,S
303,304,1,2,"Keane, Miss. Nora A",female,NaN,0,0,226593,12.35,E101,Q
304,305,0,3,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.05,NaN,S

## 0302 Tamaño
¿Cuantos pasajeros hay? Y cuántas variables?

In [ ]:
#hay 891 pasajeros
df_titanic.shape[0]

891

In [ ]:
#hay 12 variables
df_titanic.shape[1]

12

In [ ]:
df_titanic.shape

(891, 12)

## 0303 Tipos de datos
Qué tipos de datos contiene nuestro dataframe?

In [ ]:
df_titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

# 04 Limpieza de Nulos
Los nulos son habituales y un poco molestos. Constituyen una pérdida de información y pueden impedir ciertos cálculos.

Es importante detectarlos y, cuando sea posible, corregirlos.

## 0401 Nulos por variable
Cuántos nulos hay en cada variables?

In [ ]:
#isna = para saber los nulos de una base de datos. True es nulo. False no es nulo

#pd.set.option("display.max_columns", None)
#pd.set_option("display.width", None)
#pd.set_option("display.expand_frame_repr", False)

In [ ]:
df_titanic.isna()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,True,False
887,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False
889,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False

In [ ]:
df_nulos = df_titanic.isna().sum()

In [ ]:
df_nulos

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

## 0402 Explorar Nulos
Cuando sea posible es recomendable entender la causa de los nulos. Hay algún patrón que se repite entre ellos?

Veámoslo para cada una de las variables con nulos:

In [ ]:
#la columna Age tiene 177 nulos, podemos entender porque?
#la columna Cabin también
#la de embarked tiene 2 nulos también
filtro_age_nulo = (df_titanic["Age"].isna())
df_titanic.loc[filtro_age_nulo, ["PassengerId","Survived", "Pclass",
"Name", "Sex", "Age", "SibSp", "Parch", "Ticket", "Fare", "Cabin", "Embarked"]]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
...,...,...,...,...,...,...,...,...,...,...,...,...
859,860,0,3,"Razi, Mr. Raihed",male,NaN,0,0,2629,7.2292,NaN,C
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S

In [ ]:
filtro_cabin_nulo = (df_titanic["Cabin"].isna())
df_titanic.loc[filtro_cabin_nulo, ["PassengerId","Survived", "Pclass",
"Name", "Sex", "Age", "SibSp", "Parch", "Ticket", "Fare", "Cabin", "Embarked"]]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
filtro_embarked_nulo = (df_titanic["Embarked"].isna())
df_titanic.loc[filtro_embarked_nulo, ["PassengerId","Survived", "Pclass",
"Name", "Sex", "Age", "SibSp", "Parch", "Ticket", "Fare", "Cabin", "Embarked"]]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
61,62,1,1,"Icard, Miss. Amelie",female,38.0,0,0,113572,80.0,B28,NaN
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0,B28,NaN

## 0403 Tratamiento de Nulos
Una vez hemos detectado los nulos presentes en la tabla podemos corregirlos de varias formas.

### 040301 Corrección de nulos 'Age'
No parece haber una causa evidente para que algunas edades no estén imputadas. Es una variable numérica que debemos rellenar también con valores numéricos.
De más sencillo a más complejo, podríamos:


1.   Rellenar los nulos con la mediana de los valores de edad no nulos
2.   Rellenar los nulos de las mujeres con la mediana de edad de éstas, y los hombres con la suya
3.   Rellenar los nulos sirviéndonos del título en el nombre, utilizando la mediana del resto de pasajeros con el mismo título.

In [ ]:
df_titanic.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,889.000000,889.000000,889.000000,712.000000,889.000000,889.000000,889.000000
mean,446.000000,0.382452,2.311586,29.642093,0.524184,0.382452,32.096681
std,256.998173,0.486260,0.834700,14.492933,1.103705,0.806761,49.697504
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,224.000000,0.000000,2.000000,20.000000,0.000000,0.000000,7.895800
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.000000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [ ]:
df_titanic.fillna(df_titanic["Age"].median(),inplace = True)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,False,False
887,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,False,False,False,False,False,False,False
889,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
mediana_edad = int(df_titanic["Age"].median())

In [ ]:
mediana_edad

28

In [ ]:
df_titanic["Age"] = df_titanic["Age"].fillna(mediana_edad)

In [ ]:
df_titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,28.0,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,28.0,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,28.0,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,28.0,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,28.0,1,2,W./C. 6607,23.4500,28.0,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,28.0,Q

### 040302 Corrección de nulos 'Embarked'
Solo hay dos nulos aquí, así que vamos a eliminar estas dos filas.

In [ ]:
df_titanic.dropna(subset =["Embarked"], inplace = True)

In [ ]:
df_titanic.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [ ]:
# En cuanto a la columna 'Cabin', hay muchos nulos. Es además una
# columna no numérica, así que vamos a dejarlos sin tocar al menos de momento.

# 05 Limpieza de datos
A veces los datos se encuentran en formatos no adecuados.Pero esta vez no es así :).

Sí podemos eliminar la columna PassengerId, que es redundante con el índice.

In [ ]:
df_titanic.drop("PassengerId", axis=1, inplace = True)

KeyError: "['PassengerId'] not found in axis"

# 06 Preguntas sobre el dataset

De entre todos los pasajeros,
### Qué % falleció?

In [ ]:
porcentaje_fallecidos = (1- df_titanic["Survived"].mean())*100

In [ ]:
porcentaje_fallecidos

np.float64(61.75478065241844)

Es bastante famoso lo de "mujeres y niños" primero, sería cierto en el caso del Titanic?
### Qué % de mujeres y hombres fallecieron?
### Qué % de niños (menores de 10) y adultos (mayores) fallecieron?

In [ ]:
fallecidos_vs_genero = df_titanic.groupby('Sex')['Survived'].mean().reset_index()
fallecidos_vs_genero['Fallecidos'] = 1 - fallecidos_vs_genero['Survived']
fallecidos_vs_genero

      Sex  Survived  Fallecidos
0  female  0.740385    0.259615
1    male  0.188908    0.811092

In [ ]:
filtro_niño = df_titanic['Age'] < 10
filtro_adulto = df_titanic['Age'] >= 10

fallecidos_niños = (1-df_titanic.loc[filtro_niño,'Survived'].mean())
fallecidos_adulto = (1-df_titanic.loc[filtro_adulto,'Survived'].mean())

print('Fallecidos entre niños: '+str(round(fallecidos_niños*100,2)))
print('Fallecidos entre adultos: '+str(round(fallecidos_adulto*100,2)))

Fallecidos entre niños: 38.71
Fallecidos entre adultos: 63.48

Pues parece que en el Titanic sí se cumplió lo de "mujeres y niños primero". En la película también se salvaba más la gente de clase alta, con dinero, será cierto?
### Qué % fallece según su clase de billete (1, 2, 3)?

In [ ]:
fallecidos_vs_clase = df_titanic.groupby('Pclass')['Survived'].mean().reset_index()
fallecidos_vs_clase['Fallecidos'] = 1 - fallecidos_vs_clase['Survived']
fallecidos_vs_clase

   Pclass  Survived  Fallecidos
0       1  0.626168    0.373832
1       2  0.472826    0.527174
2       3  0.242363    0.757637

Incidamos en esto.

### Qué % fallece entre los 50 que pagaron más por su billete y los 50 que menos?

In [ ]:
df_orden = df_titanic.sort_values('Fare', ascending=False)
df_orden['Survived'][:50].mean()

np.float64(0.76)

In [ ]:
df_orden['Survived'][-50:].mean()

np.float64(0.1)

Los pasajeros embarcaron desde 3 puertos,

### En alguno falleció más porcentaje de gente que en el resto?

In [ ]:
df_titanic.groupby("Embarked")["Survived"].mean().reset_index()

  Embarked  Survived
0        C  0.553571
1        Q  0.389610
2        S  0.336957