# INTRO: Proceso Análisis Exploratorio
Introducción al EDA (Exploratory Data Analysis).

# 01 Import
Importamos todas las librerías necesarias para este análisis ([¿No sabes lo que es una librería de Python?](https://www.quora.com/What-is-a-Python-library-and-what-can-I-use-it-for)).

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 02 Load Data
El primer paso para analizar datos es, claro, importarlos. Esto no es siempre trivial, especialmente trabajando con Colab ya que nuestro notebook está en la nube de Google y hay que conseguir hacer llegar los datos allí también.

Vamos a ver [varias formas de importar](https://towardsdatascience.com/3-ways-to-load-csv-files-into-colab-7c14fcbdcb92) datos en Colab.


*   Importar una tabla desde Github
*   Cargar (y luego importar) una tabla de nuestro local
*   Importar una tabla de Google Drive

## 0201 Importar una tabla desde GitHub

Es posible importar una tabla que guardemos en GitHub ([¿No sabes lo que es GitHub?](https://guides.github.com/activities/hello-world/)). GitHub es un repositorio de código, más que un lugar donde guardar datos habitualmente. De todas formas, podemos importar una tabla (pequeña) desde gitHub así:

1.   Las tablas deben ser pequeñas, pues GitHub no permite archivos mayores de 25MB
2.   Localiza la tabla en un repositorio tuyo o público
3.   Pulsa en la opción RAW y copia el link de la dirección resultante
4.   Importa los datos utilizando pd.read_csv(link_raw)

### 020101 EJEMPLO 1: Covid-19
La universidad Johns Hopkins (USA) viene recopilando datos de la mayor fiabilidad posible sobre los casos y muertes confirmados por covid-19 mundialmente. Los datos son públicos y se actualizan diariamente en [su repositorio de GitHub](https://github.com/CSSEGISandData/COVID-19).

Dentro de este repositorio, hay diversos datasets, fuentes, código. Pongamos que nos interesa el dataset de casos confirmados a nivel mundial.

¿Cómo podemos cargalo en este notebook en un Dataframe llamado df_covid?

In [3]:
# url de archivo raw de casos confirmados
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'

# carga el archivo en un dataframe df_covid
df_covid = pd.read_csv(url, sep=",")

df_covid.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,209322,209340,209358,209362,209369,209390,209406,209436,209451,209451
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,334391,334408,334408,334427,334427,334427,334427,334427,334443,334457
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,271441,271448,271463,271469,271469,271477,271477,271490,271494,271496
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,47866,47875,47875,47875,47875,47875,47875,47875,47890,47890
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,105255,105277,105277,105277,105277,105277,105277,105277,105288,105288

## 0202 Importar una tabla local

Es posible importar una tabla que guardemos en nuestro local (en nuestro PC).

1.   Primero tendremos que subir el archivo de nuestro local a la nube de Google
2.   Luego generamos un buffer de los datos
3.   Finalmente los importaremos utilizando pd.read_csv()

### 020201 EJEMPLO 2: SP500
Descargad [ese dataset](https://drive.google.com/file/d/1p_RLRZNJadzsbqycWd_BhWXJ3IQGpR0e/view?usp=sharing) de mi Google Drive personal a vuestro PC. Recoge la evolución diaria histórica del [SP&500](https://en.wikipedia.org/wiki/S%26P_500_Index).


Ahora que está en vuestro local, ¿Cómo podríamos cargarlo a este notebook?

In [4]:
# Subimos el archivo
from google.colab import files
uploaded = files.upload()

Saving sp500.csv to sp500.csv

In [5]:
# Cargamos el archivo ya subido en un dataframe
df_sp500 = pd.read_csv("/content/sp500.csv")
df_sp500.head(3)

         Date       Open       High        Low      Close  Adj Close  Volume
0  1927-12-30  17.660000  17.660000  17.660000  17.660000  17.660000       0
1  1928-01-03  17.760000  17.760000  17.760000  17.760000  17.760000       0
2  1928-01-04  17.719999  17.719999  17.719999  17.719999  17.719999       0

## 0203 Importar una tabla de Google Drive

Es posible importar una tabla guardada en Google Drive. Requiere:

1.   Emparejar Colab y Google Drive
2.   Importarlo utilizando pd.read_csv()

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### 020301 EJEMPLO 3: Fifa19
Descargad [este dataset](https://drive.google.com/file/d/108ebd2uOktJ4Z54mRbQbc1aot2YZ_RSv/view?usp=sharing) con las características de los jugadores del Fifa 19 de este Google Drive a vuestro pc y luego subidlo a vuestro Google Drive.

¿Cómo podríamos cargarlo desde ahí a este notebook?

In [7]:
# Primero emparejamos Colab con Google Drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [8]:
# Importamos el archivos usando read_csv()
dir_archivo = "/content/drive/MyDrive/Bases de datos clase EDA/data/fifa19.csv"
df_fifa19 = pd.read_csv(dir_archivo)
df_fifa19.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M






































































































































































































































































































## 0204 EJERCICIO 1: Importar una tabla de varias formas

[Kaggle](https://www.kaggle.com/) es un sitio web imprescindible si estás aprendiendo ciencia de datos. Hay competiciones de machine learning, cursos, posts...

Y también es un buen sitio para buscar datos, como haremos en esta ocasión. Yo me he fijado en [este](https://www.kaggle.com/miguelsxvi/air-quality-madrid-2001-2020?select=calidad_aire_madrid.csv), que contiene la evolución diaria de la concentración de diversas partículas contaminantes en Madrid.

Leed la descripción de la página para familiarizaros con Kaggle y descargad el csv a vuestro pc. Luego, probad a cargarlo en este Notebook utilizando las 3 formas que hemos visto. (Para traerlo desde GitHub podéis utilizar [esta copia del archivo en mi GitHub personal](https://github.com/JotaBlanco/TheValley/blob/main/Data/calidad_aire_madrid.csv)). Comparad la velocidad y sencillez de cada método.

In [9]:
# DESDE GITHUB
url = 'https://raw.githubusercontent.com/ssillerom/modulo_analisis_exploratorio/main/data/calidad_aire_madrid.csv'

# carga el archivo en un dataframe df_covid
df_aire = pd.read_csv(url)

df_aire.head()

   estacion     fecha  magnitud  nivel
0         4  2001-1-1         1   17.0
1         4  2001-1-2         1   15.0
2         4  2001-1-3         1   15.0
3         4  2001-1-4         1   15.0
4         4  2001-1-5         1   16.0

In [ ]:
# DESDE LOCAL
# Generamos un objeto para subir el archivo
# Esto genera una variable (uploaded) con la información del datasets en bytes
from google.colab import files
uploaded = files.upload()
# Convertimos los bytes a formato tabular (como el file row que veíamos para Github)
import io
buffer_io = io.BytesIO(uploaded['calidad_aire_madrid.csv'])


# Cargamos en un dataframe
df_aire = pd.read_csv(buffer_io)
df_aire.head(3)

In [ ]:
# DESDE GOOGLE DRIVE
# Primero emparejamos Colab con Google Drive
from google.colab import drive
drive.mount('/content/drive')
# Importamos el archivos usando read_csv()
dir_archivo = '/content/drive/My Drive/Data/Clases/calidad_aire_madrid.csv'
df_aire = pd.read_csv(dir_archivo)
df_aire.head()

## 0205 CHULETA
Dado que los dataframes importados hasta ahora se usan más tarde a lo largo de este notebook, si habéis tenido cualquier problema al importarlos podéis hacerlo ahora desde mi github:

In [ ]:
url_covid = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
url_sp500 = 'https://raw.githubusercontent.com/ssillerom/modulo_analisis_exploratorio/main/data/sp500.csv'
url_fifa = 'https://raw.githubusercontent.com/ssillerom/modulo_analisis_exploratorio/main/data/fifa19.csv'
url_aire = 'https://raw.githubusercontent.com/ssillerom/modulo_analisis_exploratorio/main/data/calidad_aire_madrid.csv'

df_covid = pd.read_csv(url_covid)
df_sp500 = pd.read_csv(url_sp500)
df_fifa19 = pd.read_csv(url_fifa)
df_aire = pd.read_csv(url_aire)

In [ ]:
#INFO = todas las columnas que tiene la base de datos y todos los que son nulos y el tipo de columna
#Object = string
#int64 = numero entero
#float 64 = numero decimal

df_fifa19.info()

In [ ]:
df_sp500.to_parquet("sp500.parquet")

In [ ]:
df_sp500 = pd.read_parquet("sp500.parquet")

# 03 Basic checks
Una vez se han importado los datos, empezamos realizando comprobaciones básicas: tamaño de la tabla, columnas presentes, etc.

El método dataframe.[info()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.info.html) es muy útil para esto.

In [ ]:
df_sp500.info()

## 0301 Vista previa
Una buena primera comprobación suele ser visualizar la tabla.

Aquí son muy útiles los métodos dataframe.[head()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.head.html) y dataframe.[tail()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.tail.html).

In [ ]:
#Para ver las filas de un dataset, le metes en los parentesis el numero de filas que quieres ver
df_sp500.head(15)

In [ ]:
df_sp500.head(2)

In [ ]:
#Tail = para ver las filas desde el final
df_sp500.tail(10)

### iloc[filas,columnas]
Filtra el dataframe para quedarse con datos concretos utilizando indices.

In [ ]:
#iloc es para ponerle indice a las filas, enumerarlas
#AQUÍ LE ESTA PONIENDO A LAS 10 PRIMERAS FILAS EL INDICE
df_sp500.iloc[0:10]

In [ ]:
#AQUÍ ESTA PONIENDO EL INDICE DE LA FILA 1000 A LA 15000, Y DE LA COLUMNA 1 A LA 5
df_sp500.iloc[10000:15000, 1:5]
#el numero 5 en este caso no esta incluido por eso salen las cuatro primeras columnas. se empieza a contar desde el 0 en programación

### loc[filas,columnas]
Filtra el dataframe para quedarse con datos concretos utilizando valores.

In [ ]:
#LOC = es un filtro usando el nombre de las columnas
#ILOC = es un filtro usando el índice del dataframe
df_sp500.loc[2:5, ['High','Open','Close']]

In [ ]:
df_sp500.head(5)

In [ ]:
df_sp500[filtro_posterior_2018]

In [ ]:
# Admite filtros!
#MASCARA BOOLEANA = a una columna le quiero hacer un filtro que sea todas las filas hasta el año 1945. Saca si cumple con una función logica o no.
filtro_posterior_2018 = (df_sp500['Date'] > '2018-12-31') & (df_sp500)
filtro_posterior_2018

In [ ]:
df_sp500_2019_2022 = df_sp500.loc[filtro_posterior_2018]

In [ ]:
df_sp500_2019_2022

In [ ]:
# filas
len(df_covid)

In [ ]:
# columnas
df_covid.shape[1]

In [ ]:
df_sp500.shape

In [ ]:
df_fifa19.shape

In [ ]:
df_aire.shape

## 0303 Tipos de datos
Qué tipos de datos contiene nuestro dataframe?

In [ ]:
df_fifa19.info()

In [ ]:
df_fifa19.head(2)

In [ ]:
lista_id = df_fifa19['ID'].to_list()

In [ ]:
type(lista_id)

In [ ]:
type(df_fifa19['ID'][0])

In [ ]:
type(df_fifa19['Name'][0])

## 0304 Variables
El método dataframe.[columns](https://www.google.com/search?q=dataframe+columns&oq=dataframe+columns&aqs=chrome..69i57j0l5.5054j0j4&sourceid=chrome&ie=UTF-8) devuelve las columnas de nuestra tabla en orden. Es útil en lugar del método info() cuando tenemos muchas columnas, o para realizar operaciones con ellas.

In [ ]:
lista_columnas_fifa19 = df_fifa19.columns.to_list()

In [ ]:
lista = list()

for col in df_fifa19.columns:
  lista.append(col.replace("_", ""))

In [ ]:
df_fifa19.columns = lista

In [ ]:
df_fifa19

In [ ]:
df_fifa19.loc[:, lista]

In [ ]:
for col in df_fifa19.columns:
  if col.startswith("S"):
    lista.append(col)

In [ ]:
cols_s = [col for col in df_fifa19.columns if col.startswith("s")]

In [ ]:
cols_s

In [ ]:
l_cols = [col.lower() for col in df_fifa19.columns if col.startswith("l")]

In [ ]:
l_cols

In [ ]:
l_cols

In [ ]:
type(l_cols)

In [ ]:
empieza_por_l = [col for col in df_fifa19.columns if col.startswith("l")]

In [ ]:
empieza_por_l

In [ ]:
lista_name = ["name"]

In [ ]:
df_fifa19[lista_name+empieza_por_l]

## 0305 EJEMPLO 4: Comprobaciones básicas
Hagamos las comprobaciones básicas del dataframe sobre la calidad del aire de Madrid:


*   Número de filas y columnas
*   Nombre de las columnas
*   Tipos de dato de cada columna
*   Vista previa de los primeros y últimos valores

In [ ]:
# info()
df_aire.info()

In [ ]:
# Vista previas
display(df_aire.head())
display(df_aire.tail())

# 04 Limpieza de Nulos
Los nulos son habituales y un poco molestos. Constituyen una pérdida de información y pueden impedir ciertos cálculos.

Es importante detectarlos y, cuando sea posible, corregirlos.

## 0401 Nulos por variable
Podemos ver el número de nulos por variable.

Dataframe[.isna()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.isna.html) es un método muy útil.

In [ ]:
# Método isna()
df_fifa19.isna()

In [ ]:
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.expand_frame_repr', False)

In [ ]:
df_nulos

In [ ]:
df_nulos = df_fifa19.isna().sum()

In [ ]:
df_nulos = pd.DataFrame(df_fifa19.isna().sum()).T

In [ ]:
df_nulos

### 040101 EJEMPLO 5: Función buscadora de nulos
vamos a crear una función que, dado un dataframe, muestra una tabla con el número de nulos por variable ordenado de mayor a menor.

In [ ]:
df_nulos

In [ ]:
def contador_nulos(df):
  """
  Función que devuelve un dataframe indicando el número de nulos en cada
  variables.
  """
  df_nulos = pd.DataFrame(df.isna().sum())
  df_nulos.columns = ['# Nulos']
  return df_nulos.sort_values('# Nulos', ascending=False)

In [ ]:
contador_nulos(df_fifa19)

In [ ]:
contador_nulos(df_sp500)

In [ ]:
lista_df = [df_covid, df_sp500, df_fifa19]

In [ ]:
for dataframe in lista_df:
  print(contador_nulos(dataframe))

In [ ]:
contador_nulos(df_fifa19[["Name"]])

In [ ]:
df_contador = contador_nulos(df_fifa19)
df_contador.head()

## 0402 Explorar Nulos
Cuando sea posible es recomendable entender la causa de los nulos. Hay algún patrón que se repite entre los nulos?

In [ ]:
contador_nulos(df_covid)

In [ ]:
# La columna 'Lat' solo tenía un nulo, podemos entender por qué?
filtro_lat_nulo = (df_covid['Lat'].isna())
df_covid.loc[filtro_lat_nulo, ['Province/State', 'Country/Region', 'Lat', 'Long']]

### EJEMPLO 6: Entender nulos en 'Province/State'
En esta columna hay muchos nulos: 188. Para entender cuándo están presentes, vamos a qué paises pertenencen y a cuáles no.

In [ ]:
filtro_col_nulos= df_covid["Province/State"].isna()

In [ ]:
df_covid.loc[filtro_col_nulos, ['Province/State', 'Country/Region', 'Lat', 'Long']]

In [ ]:
filtro_col_nulos = df_covid['Province/State'].isna()
filtro_col_nulos

In [ ]:
filtro_col_no_nulos = df_covid['Province/State'].notnull()
df_covid[filtro_col_no_nulos]

In [ ]:
df_covid.columns

In [ ]:
paises_provincia_nulos = df_covid.loc[filtro_col_nulos, 'Country/Region'].unique()
paises_provincia_nulos

In [ ]:
paises_provincia_no_nulos = df_covid.loc[filtro_col_no_nulos, 'Country/Region'].unique()
paises_provincia_no_nulos

## 0403 Tratamiento de Nulos
Una vez hemos detectado los nulos presentes en la tabla podemos corregirlos de varias formas.

### 040301 Prescindir de Nulos
Si tenemos pocas filas con nulos y consideramos que no son muy decisivas, podemos prescindir de dichas filas con el método dataframe.[dropna()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html).

In [ ]:
# Tamaño del dataframe original
df_covid.shape

In [ ]:
df_covid_drop_null_lat

In [ ]:
# Eliminamos filas con nulos en la columna 'Lat'
df_covid_drop_null_lat = df_covid.dropna(how="all")
df_covid_drop_null_lat.shape

In [ ]:
df_covid_drop_null_lat

#### 04030101 EJEMPLO 7: Eliminar filas
En el dataframe de jugadores del Fifa, si hay ciertas filas con con gran presencia de nulos y éstas no suponen un número significativo para el total, podemos eliminarlas.

In [ ]:
df_fifa19

In [ ]:
contador_nulos(df_fifa19)

In [ ]:
df_limpio = df_fifa19

In [ ]:
df_limpio

In [ ]:
df_limpio

In [ ]:
df_limpio

In [ ]:
df_fifa19

In [ ]:
df_limpio

In [ ]:
df_limpio

In [ ]:
# Parece que hay 48 jugadores de los que no tenemos datos. Son poquitos
# (comparado con el total de 18207) así que podemos prescindir de ellos
df_contador["num_col"] = df_contador["index"]

In [ ]:
df_contador[df_contador["num_col"] =="GKKicking"]

In [ ]:
df_contador.reset_index(drop=False, inplace=True)

In [ ]:
df_fifa19.columns

In [ ]:
# Eliminamos aquellas filas que no tienen informado el peso del jugardor
df_fifa19.dropna(axis=0, subset=['weight'], inplace=True)
df_contador = contador_nulos(df_fifa19)
df_contador.T

In [ ]:
df_fifa19.shape

### 040302 Rellenar Nulos con Valores
Podemos sustituir los nulos con valores concretos: 0, la media o mediana, etc.

Para esto podemos utilizar el método dataframe.[fillna()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html#pandas.DataFrame.fillna).

In [ ]:
df_fifa19["jersey number"].mean()

In [ ]:
df_fifa19

In [ ]:
df_fifa19.fillna(df_fifa19["jersey number"].mean(), inplace=True)

In [ ]:
df_fifa19.describe(include="all")

In [ ]:
mediana_edad = int(df_fifa19["age"].median())

In [ ]:
mediana_edad

In [ ]:
df_fifa19["age"] = df_fifa19["age"].fillna(mediana_edad)

In [ ]:
df_fifa19

In [ ]:
# Nulos en columna 'Club'
df_fifa19['club'] = df_fifa19['club'].fillna('unknown')

In [ ]:
df_fifa19.info()

In [ ]:
df_fifa19["jersey number"] = df_fifa19["jersey number"].astype(str)

In [ ]:
mediana_dorsal = df_fifa19['Jersey Number'].median()

In [ ]:
mediana_dorsal

In [ ]:
# Nulos en columna 'Jersey Number'
mediana_dorsal = df_fifa19['Jersey Number'].median()
df_fifa19['Jersey Number'] = df_fifa19['Jersey Number'].fillna(mediana_dorsal)

In [ ]:
df_nulos = contador_nulos(df_fifa19).T

In [ ]:
df_nulos["Age"]

# 05 Limpieza de datos
Es habitual que algunos de los datos se encuentren en formatos no apropiados.

## 0501 Limpieza de Formatos
A veces los datos se encuentran en formatos no adecuados. Un formato correspondiente con el tipo de dato permitirá realizar ciertas operaciones con mayor facilidad.

Para esto nos serán de utilidad los métodos:

*   [astype()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.astype.html)
*   [to_datetime()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html)

In [ ]:
df_sp500.info()

In [ ]:
df_sp500.loc[:5,'Date']

In [ ]:
type(df_sp500.loc[:5,'Date'][0])

In [ ]:
df_sp500.dtypes

In [ ]:
df_sp500[df_sp500["Date"] >= '2018-11-11']

In [ ]:
df_sp500['Date'] = pd.to_datetime(df_sp500['Date'], format='mixed')

In [ ]:
df_sp500.info()

In [ ]:
df_sp500["month"] = df_sp500["Date"].dt.month

In [ ]:
df_sp500

## 0502 Eliminación de variables
Se pueden eliminar columnas o filas no necesarias con el método dataframe.[drop()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html).

In [ ]:
df_fifa19.head(3)

In [ ]:
df_fifa19.columns

In [ ]:
cols_to_drop = ['Unnamed: 0', 'ID', 'Photo', 'Flag', 'Club Logo',
                'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW', 'LAM', 'CAM',
                'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM', 'CDM',
                'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB']

df_fifa19_clean = df_fifa19.drop(cols_to_drop, axis=1)

# 06 Transformación de variables
A veces querremos crear nuevas variables o modificar variables existentes de manera un poco más personalizada/compleja que lo visto hasta ahora. Cómo lo hacemos?

Para cambiar los valores en una columna debemos tratar de evitar iterar sobre las filas del dataframe. Son procesos lentos que llevarán mucho tiempo para dataframes grandes. El orden (atendiendo a la eficiencia computacional) en que debemos intentar las operaciones es:



1.   Vectorización
2.   List comprehensions
3.   Dataframe.[apply()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html)
4.   Dataframe.[itertuples()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.itertuples.html), dataframe.[iteritems()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iteritems.html#pandas.DataFrame.iteritems), dataframe.[iterrows()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iterrows.html#pandas.DataFrame.iterrows)

## 0601 Iteracion
Aunque sea el menos eficiente, iterar sobre el dataframe es lo más sencillo conceptualmente. Veamos cómo podemos modificar una variable así.

In [ ]:
for index, row in df_fifa19_clean.head(5).iterrows():
    print('Index: ', index)
    print('Peso: ', row['Weight'])

In [ ]:
df_fifa19_clean

In [ ]:
weight = "150lbs"

In [ ]:
float(weight[:-3]) *0.45

In [ ]:
%%timeit
for index, row in df_fifa19_clean.iterrows():

  # Si el string contine 'lbs' al final del mismo
  if row['Weight'][-3:] == 'lbs':

    # Nos quedamos con la parte anterior (el peso) con formato numérico (float)
    peso_libras = float(row['Weight'][:-3])

    # Convertimos el peso en kgs
    peso_kgs = round(peso_libras*0.453592, 3)

    # Populamos la columna
    df_fifa19_clean.loc[index, 'Weight_kg'] = peso_kgs

  else:
    # Si no contenía 'lbs' al final, lo dejamos como nulo
    df_fifa19_clean.loc[index, 'Weight_kg'] = np.NaN

In [ ]:
df_fifa19_clean

In [ ]:
df_fifa19_clean['Weight_kg'].isna().sum()

## 0602 Dataframe.apply()
La siguiente opción en eficiencia es utilizar el método [.apply()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html). Más información sobre [cómo crear funciones para aplicar sobre un dataframe con .apply()](https://queirozf.com/entries/pandas-dataframes-apply-examples).

Veamos cómo podemos modificar una variable así.

In [ ]:
def limpiar_peso(valor_original):
  """
  Función que limpia la columna Weight al convertirla en formato númerico
  y definir los valores en Kg
  """
  # Si el string contine 'lbs' al final del mismo
  if valor_original[-3:] == 'lbs':

    # Nos quedamos con la parte anterior (el peso) con formato numérico (float)
    peso_libras = float(valor_original[:-3])

    # Convertimos el peso en kgs
    peso_kgs = peso_libras*0.453592

  else:
    # Si no contenía 'lbs' al final, lo dejamos como nulo
    peso_kgs = np.NaN

  return peso_kgs

In [ ]:
%%timeit
df_fifa19_clean['Weight_kg'] = df_fifa19_clean['Weight'].apply(limpiar_peso)

In [ ]:
df_fifa19_clean.head()

## 0603 List Comprehensions
Método conciso y eficiente de crear listas. [Info extra sobre cuándo y por qué usar list comprehensions.](https://realpython.com/list-comprehension-python/#benefits-of-using-list-comprehensions)

Las list comprehensions utilizan la sintaxis:
*   [expression for item in list]

O si incluímos condiciones:

*   [expression if condicion else expresion for item in list]

Veamos cómo podemos modificar una variable utilizando list comprehensions.

In [ ]:
# [expresion for item in list]

In [ ]:
lista_pesos_5_filas_first = [x for x in df_fifa19_clean['Weight']][:5]

In [ ]:
["pepe", "lucia", "fer"][:3]

In [ ]:
[float(x[:-3])*0.453592 for x in df_fifa19_clean['Weight']][:5]

In [ ]:
[float(x[:-3])*0.453592 if x[-3:]=='lbs' else np.NaN for x in df_fifa19_clean['Weight']][:5]

In [ ]:
lista_pesos = [round(float(x[:-3])*0.453592, 2) if x[-3:]=='lbs' else np.NaN for x in df_fifa19_clean['Weight']]

In [ ]:
%%timeit
df_fifa19_clean['Weight_kg'] = [float(x[:-3])*0.453592 if x[-3:]=='lbs' else np.NaN for x in df_fifa19_clean['Weight']]

In [ ]:
df_fifa19_clean.head()

## 0604 Vectorización
Consiste en realizar operaciones con vectores en la medida de lo posible en lugar de elemento por elemento. [Más información sobre vectorización aquí](https://stackoverflow.com/questions/1422149/what-is-vectorization).

In [ ]:
# Vectorizamos la función que habíamos creado
limpiar_peso_vectorizada = np.vectorize(limpiar_peso)

In [ ]:
%%timeit
df_fifa19_clean['Weight_kg'] = limpiar_peso_vectorizada(df_fifa19_clean['Weight'].to_list())

In [ ]:
df_fifa19_clean.head()

## 0605 EJEMPLO 8: Limpieza de columnas con precios
Las columnas ['Value', 'Wage', 'Release Clasue'] continen valores monetarios en formatos un poco extraños: son strings, con el tipo de moneda antecediendo a la cifra, que contiene abreviaturas tipo M, K para indicar millones, miles, etc.

Limpiemos estas columnas utilizando las distintas formas que hemos aprendido:

### 060501 Exploramos las columnas
Para entender el formato.

In [ ]:
# Primero echamos un ojo a las columnas
df_fifa19_clean[['Value','Wage','Release Clause']].head()

In [ ]:
# Contienen nulos?
df_fifa19_clean[['Value','Wage','Release Clause']].isna().sum()

In [ ]:
# Release Clause sí tiene nulos: los rellenamos con un formato similar
df_fifa19_clean['Release Clause'] = df_fifa19_clean['Release Clause'].fillna('€0M')

In [ ]:
# Todos los valores empiezan por el string '€'?
for columna in ['Value','Wage','Release Clause']:
  lista_valores = [x[:1] for x in df_fifa19_clean[columna]]
  lista_sin_duplicados = list(set(lista_valores))
  print('En la columna ' + columna + ' los valores empiezan por ', lista_sin_duplicados)

In [ ]:
# Todos los valores acaban por el string 'M'?
for columna in ['Value','Wage','Release Clause']:
  lista_valores = [x[-1:] for x in df_fifa19_clean[columna]]
  lista_sin_duplicados = list(set(lista_valores))
  print('En la columna ' + columna + ' los valores acaban por ', lista_sin_duplicados)

### 060502 Iteración
Usamos primero el menos eficiente de los métodos, la iteración sobre las filas del dataframe.

In [ ]:
for index, row in df_fifa19_clean.loc[:3,['Value','Wage','Release Clause']].iterrows():
  print(index)
  print(row)

In [ ]:
def limpieza_cols_dinero(valor_original):
  """
  Esta función convierte los valores originales de ['Value','Wage','Release Clause']
  en valores numéricos en €.
  """
  if valor_original[-1]=='M':
    valor_final = float(valor_original[1:-1])*1000000
  elif valor_original[-1]=='K':
    valor_final = float(valor_original[1:-1])*1000
  else:
    valor_final = float(valor_original[1:])

  return valor_final

In [ ]:
%%timeit
for index, row in df_fifa19_clean.iterrows():

  for columna in ['Value','Wage','Release Clause']:
    valor_orig = row[columna]
    df_fifa19_clean.loc[index, columna+'_€'] = limpieza_cols_dinero(valor_orig)

### 060503 Dataframe.apply()

In [ ]:
%%timeit
for columna in ['Value','Wage','Release Clause']:
  df_fifa19_clean[columna+'_€'] = df_fifa19_clean[columna].apply(limpieza_cols_dinero)

### 060503 Vectorización

In [ ]:
limpieza_cols_dinero_vectorizada = np.vectorize(limpieza_cols_dinero)

In [ ]:
%%timeit
for columna in ['Value','Wage','Release Clause']:
  df_fifa19_clean[columna+'_€'] = limpieza_cols_dinero_vectorizada(np.array(df_fifa19_clean[columna]))

## 0606 EJERCICIO 2: Limpieza variable altura
La variable de altura de los jugadores: 'Height' está expresada en formato string y con pies y pulgadas como unidades.

Crea la variable 'Height_cm' que contenga la altura de los jugadores en formato numérico (float) y con cm como unidades.

Para este ejercicio te vendrá bien la función [.split()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.split.html).

In [ ]:
# Lee la documentación de la  función split() y prueba estas ejecuciones
string_de_prueba = 'izq.derecha'

display(string_de_prueba.split('.'))

display(string_de_prueba.split('.')[0])

display(string_de_prueba.split('.')[1])

In [ ]:
df_fifa19["Height"]

In [ ]:
# Explora la columna, hay alguna que no contenga el separador "'"?
[x for x in df_fifa19_clean['Height'] if "'" not in x]

In [ ]:
# Define la función que pasará al altura de un string de pies'pulgadas
# al valor numérico (float) de la altura en cm

def limpieza_altura(altura_original):
  """
  A partir de un string con la altura en formato: pies'pulgadas
  devuelve un float de la altura en cm.
  """
  pies = float(altura_original.split("'")[0])
  pulgadas = float(altura_original.split("'")[1])
  altura_cm = (12*pies+pulgadas)*2.54
  return altura_cm

In [ ]:
## Iteración
%%timeit
for index, row in df_fifa19_clean.iterrows():
  df_fifa19_clean.loc[index, 'Height_cm'] = limpieza_altura(row['Height'])

In [ ]:
## Datafrane.apply()
%%timeit
df_fifa19_clean['Height_cm'] = df_fifa19_clean['Height'].apply(limpieza_altura)

In [ ]:
## Vectorización
limpieza_vectorizada = np.vectorize(limpieza_altura)

In [ ]:
df_fifa19_clean["Height_cm"]

In [ ]:
%%timeit
df_fifa19_clean['Height_cm'] = limpieza_vectorizada(np.array(df_fifa19_clean['Height']))

## 0607 Creación de nuevas variables
Además de los métodos de transformación que hemos visto, existen otros propios de las distintas clases que nos permiten también generar variables nuevas.

Por ejemplo, los métodos propios de los formatos de fechas:

### 060701 Métodos propios de timedate

In [ ]:
# Nueva variable año
df_sp500['Year'] = df_sp500['Date'].dt.year
df_sp500.head()

In [ ]:
# Nueva variable día de la semana
df_sp500['Day of Week'] = df_sp500['Date'].dt.dayofweek
df_sp500.head()

### 060702 Operaciones con columnas

In [ ]:
# Nueva variable volatilidad diaria
df_sp500['Volatilidad Diaria'] = (df_sp500['High']-df_sp500['Low'])/df_sp500['Close']
df_sp500.head()

In [ ]:
df_sp500.tail()

### 060703 Variables dummy
Variables binarias que adoptan un 1 si se cumple cierta condición.

In [ ]:
filtro_movilidad_diaria_disponible = df_sp500['High'] != df_sp500['Low']
filtro_movilidad_diaria_disponible

In [ ]:
# Nueva variable movilidad diaria disponible
df_sp500['Dummy Movilidad'] = filtro_movilidad_diaria_disponible.astype(int)
df_sp500['Dummy Movilidad']

In [ ]:
df_sp500

### 060704 Operaciones de ventana
A veces queremos realizar operaciones entre distintas filas. Por ejemplo:


*   Comparar un valor hoy con el correspondiente ayer (ver método [.shift()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.shift.html))
*   Calcular un estadístico respecto a los n últimos registros (ver método [.rolling()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rolling.html))

In [ ]:
df_sp500['Close'][:3]

In [ ]:
df_sp500['Close'].shift(1)[:3]

In [ ]:
# Variación respecto a ayer
df_sp500['Variacion'] = df_sp500['Close']/df_sp500['Close'].shift(1)

In [ ]:
df_sp500

In [ ]:
df_sp500['Variacion'].head()

In [ ]:
# Variación media ultimos n días
df_sp500['Variacion ult7'] = df_sp500['Variacion'].rolling(7).mean()

In [ ]:
df_sp500

In [ ]:
# También podemos crear nuestra propia función
df_sp500['Variacion ac ult 250'] = df_sp500['Variacion'].rolling(7).agg(lambda x:x.prod())

In [ ]:
df_sp500

In [ ]:
df_sp500.tail()

## 0608 Guardamos la tabla
Hemos realizado cierto trabajo para limpiar el dataframe de los jugadores del fifa. Para no tener que repetirlo en el futuro, podemos guardar la tabla modificada y cargar ésta en adelante.

In [ ]:
# Lo más sencillo es guardar el archivo en el Drive Personal
drive.mount('/content/drive')
df_fifa19_clean.to_csv(f"/content/drive/My Drive/Data/Clases/Fifa19_Clean.csv", sep=",", index=False)

In [ ]:
df_fifa19_clean.to_parquet("/content/drive/My Drive/Data/Clases/Fifa19_Clean.parquet", index=False)

# 07 Distribución de variables
Hasta ahora hemos importado el dataset, nos hemos familiarizado con sus características principales, hemos identificado y limpiado los nulos y hemos transformado algunas variables para crear otras con más sentido.

Veamos ahora cuál es la [distribución](https://es.wikipedia.org/wiki/Distribuci%C3%B3n_de_probabilidad) de cada variable.

In [ ]:
# Importamos df_fifa19_clean para asegurar haber realizado las transformaciones correctamente
# url de archivo raw de df_fifa19_clean
url = 'https://raw.githubusercontent.com/JotaBlanco/TheValley/main/Data/Fifa19_Clean.csv'

# carga el archivo en un dataframe df_covid
df_fifa19_clean = pd.read_csv(url)

df_fifa19_clean.head()

## 0701 Variables numéricas
En cuanto a las variables de tipo numérico, el método dataframe.[describe()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html) es muy útil para conocer sus estadísticos principales.

In [ ]:
df_fifa19_clean.describe()

## 0702 Variables categóricas
Aquellas que pueden adoptar valores finitos. Es muy útil el método dataframe[columna].[value_counts()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html).

In [ ]:
df_fifa19_clean['Nationality'].value_counts()

In [ ]:
df_fifa19_clean['Preferred Foot'].value_counts()

El método dataframe[columna].[unique()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.unique.html) puede resultar útil también.

In [ ]:
df_fifa19_clean['Nationality'].unique()

In [ ]:
df_fifa19_clean.head()

## 0703 Distribuciones respecto a otras
A veces nos interesa entender la distribución de una variable respecto a otra. Para esto suele ser muy útil la operación [groupby()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html).

Por ejemplo, son mejores los zurdos de media? Es verdad que los jugadores españoles tienden a ser pequeñitos comparados con otras nacionalidades?

In [ ]:
# Son de media mejores los zurdos?
df_fifa19_clean.groupby('Preferred Foot')['Overall'].median().reset_index()

In [ ]:
# Son de media mejores los zurdos?
df_fifa19_clean.groupby('Preferred Foot')['Overall'].quantile(.25).reset_index()

In [ ]:
# Cuales son los paises con jugadores más grandes y pesados (y menos)?
df_fifa19_clean.groupby('Nationality')[['Height_cm','Weight_kg']].mean().reset_index().sort_values(['Height_cm','Weight_kg'], ascending=False).head(20)

In [ ]:
df_sp500.groupby('Year')['Close'].mean().reset_index()